<%- include('./header') %>
    <title>Accueil</title>

    </head>

    <body>
        <%- include('./navbar') %>
            <h1>Accueil</h1>

            <%= %>


                <section class="card__container">
                    <% for ( let i=0; i < usersData.length; i++) { %>
                        <article class="card-frame">
                            <p>
                                1
                            </p>
                            <div class="button-container">
                                <button> Details </button>
                                <button> Delete </button>

                            </div>

                        </article>
                        <% }%>


                </section>


    </body>

    </html>