<%- include('./header') %>
    <title>Ajout</title>
    </head>

    <body>
        <%- include('./navbar') %>
            <h1>page pour Ajouter</h1>

            <section class="section-add-card">
                <form action="">
                    <input type="text" name="inputName" id="">
                    <button> ok </button>
                </form>
            </section>

    </body>

    </html>