<%- include('./header') %>
    <title>Ajout</title>
    </head>

    <body>
        <%- include('./navbar') %>
            <h1 class="center">Ajouter un utilisateur</h1>

            <section class="section-add-card">
                <form action="/submitForm" method="post">
                    <div>
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" id="nom" value="placeholderNom">
                    </div>
                    <div>
                        <label for="prenom">Prenom</label>
                        <input type="text" name="prenom" id="prenom" value="placeholderPrenom">
                    </div>
                    <div>
                        <label for="ville">Ville</label>
                        <input type="text" name="ville" id="ville" value="Lille">
                    </div>
                    <button> Ajouter </button>

                </form>
            </section>

    </body>

    </html>