* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(210, 210, 214);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 4rem;

  background-color: rgb(118, 130, 113);

  margin-block-end: 2rem;
}

.navbar li {
  padding: 2rem;
  font-size: 2rem;
  list-style-type: none;
}

.navbar li a {
  color: white;
  text-decoration: none;
}

/* ------------------------------------------- */

.center {
  text-align: center;
}

button {
  font-weight: 700;

  width: fit-content;
  height: 2rem;

  padding-inline: 1rem;

  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.373);

  border: none;
  border-radius: 0.5rem;
}

button:active {
  transform: translateY(1.1%) scale(0.99);
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.373);
}

/* ------------------------------------------- */
/* ------------------------------------------- */

.section-add-card {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.section-add-card input {
  padding: 0.5rem;

  border-radius: 0.5rem;
  border: 1px solid black;
}
.section-add-card input:focus {
  outline: 1px solid black;
}

.section-add-card button {
  background-color: rgb(68, 67, 67);
  color: white;
}

/* ------------------------------------------- */
.card__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  margin-block: 2rem;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/*  CARD */
.card-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: min(20rem, 90%);

  border-radius: 0.5rem;

  background-color: rgb(233, 233, 233);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 0px 10px rgba(0, 0, 0, 0.2);
}

.card-frame img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-frame p {
  font-size: 1.2rem;
  font-weight: 900;
}

.card-frame p:nth-of-type(1) {
  height: 2.2rem;
}

/* ------------------------------------------- */
/* BOUTONS */

.button-container {
  width: 100%;
  justify-self: end;
  display: flex;
}

.link-as-button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-weight: 700;
  text-decoration: none;

  width: 34%;
  height: 2.5rem;

  /* padding-inline: 1.2rem; */

  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.373);

  border: none;
  /* border-radius: 0.2rem; */
}

.link-as-button:active {
  transform: translateY(1.1%) scale(0.99);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.373);
}

.color-detail {
  color: white;
  background-color: rgb(119, 121, 127);
  border-radius: 0 0 0 0.5rem;
}

.color-edit {
  color: white;
  background-color: rgb(81, 134, 43);
}

.color-delete {
  color: white;
  background-color: rgb(188, 68, 68);
  border-radius: 0 0 0.5rem 0;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* DETAIL CONTAINER */

.detail-container {
  display: flex;
  /* flex-direction: column; */

  background-color: rgb(233, 233, 233);
  width: min(60rem, 90%);
  height: 40rem;

  margin-inline: auto;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 0px 10px rgba(0, 0, 0, 0.2);
}

.detail-container figure {
  width: 30rem;
}
.detail-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* .detail-info-container {
  flex-basis: auto;
} */
.detail-container p {
  padding-inline: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.detail-container-link {
  text-orientation: mixed;
  writing-mode: vertical-rl;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-weight: 700;
  text-decoration: none;

  width: 3.5rem;
  height: 100%;

  font-size: 1.3rem;
  color: white;
  background-color: rgb(81, 134, 43);

  border-radius: 0.5rem 0 0 0.5rem;

  border: none;
  /* border-radius: 0.2rem; */
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ADD CARD */

.section-add-card {
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  width: min(20rem, 90%);
}
.section-add-card form {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.section-add-card div {
  display: flex;
  flex-direction: column;
}

.section-add-card input {
  padding: 1rem;
}
